workflows/agt_suporte_gynprog_v5.002.json
{
  "name": "agt_suporte_gynprog_v5.002",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM gynprog_support.client_memory WHERE client_id = {{ $json.client_id ? \"'\" + $json.client_id.replace(/'/g, \"''\") + \"'\" : 'NULL' }}",
        "options": {}
      },
      "id": "00133fdb-d40b-43d6-a62b-8b31b9172e30",
      "name": "PostgreSQL: Buscar Memoria",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -176,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "3ZWnI2rLcKXLdjEA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT content, timestamp, direction FROM gynprog_support.messages WHERE client_id = {{ $json.client_id ? \"'\" + $json.client_id.replace(/'/g, \"''\") + \"'\" : 'NULL' }} ORDER BY timestamp DESC LIMIT 10",
        "options": {}
      },
      "id": "dd77ff5e-01fa-48a1-90ed-4508bf17cf68",
      "name": "PostgreSQL: Mensagens Recentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -176,
        192
      ],
      "credentials": {
        "postgres": {
          "id": "3ZWnI2rLcKXLdjEA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {},
        "requestOptions": {}
      },
      "id": "d06df658-ed0e-4ee8-97bf-9ae9eae93171",
      "name": "OpenAI: Embedding",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -400,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "iUiB0O7I8X0xfIfu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gynprog-xjegwcj.svc.aped-4627-b74a.pinecone.io/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($json.embedding) }},\n  \"topK\": 3,\n  \"namespace\": \"client_history\",\n  \"filter\": {\n    \"client_id\": {{ $item(0).$node[\"Normalizar Mensagem\"].json.client_id }}\n  },\n  \"includeMetadata\": true\n}",
        "options": {}
      },
      "id": "a2beb78b-8a0d-4123-9b44-afe3da881550",
      "name": "Pinecone: Historico (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -176,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "j2mBRAs1GZX5WjZi",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gynprog-xjegwcj.svc.aped-4627-b74a.pinecone.io/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($json.embedding) }},\n  \"topK\": 5,\n  \"namespace\": \"gynprog_knowledge\",\n  \"includeMetadata\": true\n}",
        "options": {}
      },
      "id": "30a49836-18c2-4f8f-adc8-b19c42e030ca",
      "name": "Pinecone: Knowledge Base (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -176,
        576
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "j2mBRAs1GZX5WjZi",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "__CUSTOM_API_CALL__",
        "requestOptions": {},
        "model": "gpt-4o-mini"
      },
      "id": "5aa57cac-a652-4678-939e-fdcd625b8170",
      "name": "GPT-4: Gerar Resposta",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        48,
        288
      ],
      "credentials": {
        "openAiApi": {
          "id": "iUiB0O7I8X0xfIfu",
          "name": "OpenAi account"
        }
      },
      "notesInFlow": "Prompt v2025-02-15\nSystem: Você é um agente de suporte da Gynprog, responde em PT-BR, mantendo tom profissional e empático.\nUser template: mensagem normalizada, memória do cliente, últimos contatos e trechos da base de conhecimento.\nInstruções: confirmar entendimento, citar dados apenas se presentes nas fontes e sinalizar limitações quando ocorrerem."
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {},
        "requestOptions": {}
      },
      "id": "035fcba3-d5fa-4b37-ae27-fbd8f76f6dfa",
      "name": "GPT-4: Atualizar Memoria",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        272,
        96
      ],
      "credentials": {
        "openAiApi": {
          "id": "iUiB0O7I8X0xfIfu",
          "name": "OpenAi account"
        }
      },
      "notesInFlow": "Prompt v2025-02-15\nInstrui o modelo a consolidar memória do cliente (resumo, pendências, tópicos e sentimento) sem duplicar itens."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO gynprog_support.client_memory \n(client_id, conversation_summary, resolved_issues, pending_issues, key_topics, sentiment, last_updated)\nVALUES (\n  {{ $('Normalizar Mensagem').item.json.client_id ? \"'\" + $('Normalizar Mensagem').item.json.client_id.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.conversation_summary ? \"'\" + $json.conversation_summary.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ ((items) => items.length ? 'ARRAY[' + items.map(value => \"'\" + String(value).replace(/'/g, \"''\") + \"'\").join(', ') + ']::text[]' : 'ARRAY[]::text[]')((($json.new_resolved_issues || []).filter(value => value !== undefined && value !== null && value !== ''))) }},\n  {{ ((items) => items.length ? 'ARRAY[' + items.map(value => \"'\" + String(value).replace(/'/g, \"''\") + \"'\").join(', ') + ']::text[]' : 'ARRAY[]::text[]')((($json.new_pending_issues || []).filter(value => value !== undefined && value !== null && value !== ''))) }},\n  {{ ((items) => items.length ? 'ARRAY[' + items.map(value => \"'\" + String(value).replace(/'/g, \"''\") + \"'\").join(', ') + ']::text[]' : 'ARRAY[]::text[]')((($json.key_topics || []).filter(value => value !== undefined && value !== null && value !== ''))) }},\n  {{ $json.sentiment ? \"'\" + $json.sentiment.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  NOW()\n)\nON CONFLICT (client_id) DO UPDATE SET\n  conversation_summary = EXCLUDED.conversation_summary,\n  resolved_issues = EXCLUDED.resolved_issues || client_memory.resolved_issues,\n  pending_issues = EXCLUDED.pending_issues,\n  key_topics = EXCLUDED.key_topics,\n  sentiment = EXCLUDED.sentiment,\n  last_updated = NOW()",
        "options": {}
      },
      "id": "d93a6e31-9985-4803-887c-77d42688e252",
      "name": "PostgreSQL: Salvar Memoria",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        496,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "3ZWnI2rLcKXLdjEA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: $json.meta?.response?.status || 'ok', latency_ms: $json.meta?.latency_ms || 0, route: $json.meta?.route || 'unknown' } }}",
        "options": {}
      },
      "id": "2b6267cd-921d-4d09-a5bb-85456876e54f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1168,
        672
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst results = [];\n\nfor (const item of items) {\n  const base = item.json || {};\n  const config = base.config || {};\n  const metaBase = { ...(base.meta || {}) };\n  metaBase.environment = config.meta_env || metaBase.environment || 'sandbox';\n  metaBase.provider = 'meta';\n  const value = base.event || {};\n  const messages = value.messages || [];\n  const contacts = value.contacts || [];\n  const contact = contacts[0] || {};\n  const contactName = contact.profile?.name || contact.profile?.Name || contact.name || 'Contato Meta';\n  const waId = contact.wa_id || null;\n\n  for (const message of messages) {\n    const senderWaId = message.from || waId || '';\n    const cleanedSender = senderWaId ? senderWaId.toString() : '';\n    const timestampSeconds = Number(message.timestamp || Date.now() / 1000);\n    const isoTimestamp = new Date((!Number.isNaN(timestampSeconds) ? timestampSeconds : Date.now() / 1000) * 1000).toISOString();\n    const messageType = message.type || 'text';\n\n    let text = '';\n    if (messageType === 'text') {\n      text = message.text?.body || '';\n    } else if (messageType === 'interactive') {\n      const interactive = message.interactive || {};\n      if (interactive.type === 'list_reply') {\n        text = interactive.list_reply?.title || interactive.list_reply?.description || '';\n      } else if (interactive.type === 'button_reply') {\n        text = interactive.button_reply?.title || interactive.button_reply?.id || '';\n      }\n    } else if (messageType === 'button') {\n      text = message.button?.text || '';\n    } else if (messageType === 'reaction') {\n      text = message.reaction?.emoji || '';\n    } else if (messageType === 'image' || messageType === 'video' || messageType === 'audio' || messageType === 'document') {\n      text = message[messageType]?.caption || message[messageType]?.filename || '';\n    }\n\n    if (!text) {\n      text = `[${messageType} sem texto]`;\n    }\n\n    const meta = { ...metaBase };\n    meta.client_mask = cleanedSender ? cleanedSender.slice(-4) : null;\n    meta.route = 'meta_inbound';\n\n    const normalized = {\n      sender: cleanedSender,\n      type: messageType,\n      text: text || '',\n      timestamp: isoTimestamp,\n      message_id: message.id || null,\n      context_id: message.context?.id || null,\n      raw: message,\n      config,\n      meta,\n      client_id: cleanedSender,\n    };\n\n    results.push({\n      json: {\n        client_id: cleanedSender,\n        client_name: contactName,\n        message_content: text || '[mensagem sem texto]',\n        message_type: messageType,\n        message_id: message.id || '',\n        timestamp: isoTimestamp,\n        direction: 'inbound',\n        channel: 'whatsapp:meta',\n        normalized,\n        meta,\n        config,\n        event: value,\n      },\n    });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -624,
        192
      ],
      "id": "a12eacab-7435-4c27-8548-b775afc55461",
      "name": "Normalizar Mensagem"
    },
    {
      "parameters": {
        "functionCode": "\nconst results = [];\n\nfor (const item of items) {\n  const binary = item.binary?.rawBody?.data;\n  let rawBody = '';\n\n  if (binary) {\n    rawBody = Buffer.from(binary, 'base64').toString('utf8');\n  } else if (typeof item.json.body === 'string') {\n    rawBody = item.json.body;\n  } else if (item.json.body !== undefined) {\n    try {\n      rawBody = JSON.stringify(item.json.body);\n    } catch (error) {\n      rawBody = '';\n    }\n  }\n\n  let parsedBody = null;\n  if (rawBody) {\n    try {\n      parsedBody = JSON.parse(rawBody);\n    } catch (error) {\n      parsedBody = null;\n    }\n  } else if (item.json.body && typeof item.json.body === 'object') {\n    parsedBody = item.json.body;\n  }\n\n  const entry = parsedBody?.entry?.[0] || {};\n  const change = entry.changes?.[0] || {};\n  const value = change.value || null;\n\n  const meta = {\n    start_at: Date.now(),\n    provider: 'meta',\n    channel: 'whatsapp',\n    environment: item.json.meta?.environment || null,\n    phone_number_id: value?.metadata?.phone_number_id || null,\n    display_phone_number: value?.metadata?.display_phone_number || null,\n  };\n\n  results.push({\n    json: {\n      meta,\n      headers: item.json.headers || {},\n      query: item.json.query || {},\n      raw_body: rawBody,\n      entry,\n      event: value,\n      method: item.json.method || 'POST',\n      config: item.json.config || {},\n    },\n  });\n}\n\nreturn results;\n"
      },
      "id": "1398b687-f173-42f8-86df-653580e6d1e6",
      "name": "Preparar Evento Meta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        48,
        1280
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "config.meta_env",
              "value": "={{ $env.META_ENV ? $env.META_ENV.toLowerCase() : 'sandbox' }}"
            },
            {
              "name": "config.graph_version",
              "value": "={{ $env.META_GRAPH_VERSION || 'v20.0' }}"
            },
            {
              "name": "config.phone_number_id",
              "value": "={{ $env.META_PHONE_NUMBER_ID || '' }}"
            },
            {
              "name": "config.access_token",
              "value": "={{ $env.META_WABA_TOKEN || '' }}"
            },
            {
              "name": "config.verify_token",
              "value": "={{ $env.META_VERIFY_TOKEN || '' }}"
            },
            {
              "name": "config.app_secret",
              "value": "={{ $env.META_APP_SECRET || '' }}"
            },
            {
              "name": "config.base_url",
              "value": "={{ 'https://graph.facebook.com/' + ($env.META_GRAPH_VERSION || 'v20.0') }}"
            },
            {
              "name": "config.template_language",
              "value": "={{ $env.META_TEMPLATE_LANGUAGE || 'pt_BR' }}"
            },
            {
              "name": "meta.environment",
              "value": "={{ $env.META_ENV ? $env.META_ENV.toLowerCase() : 'sandbox' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b64a28a2-3103-44d8-9cd9-c687c97a732a",
      "name": "Carregar Config Meta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -400,
        1184
      ]
    },
    {
      "parameters": {
        "functionCode": "// ✅ VALIDAÇÃO HMAC SHA256 - Meta WhatsApp\n// crypto já está disponível globalmente no n8n - NÃO importar!\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const config = item.json.config;\n  const rawBody = item.json.raw_body;\n  const headerSignature = item.json.headers['x-hub-signature-256'];\n  \n  // Validações básicas\n  if (!config?.app_secret) {\n    return {\n      json: {\n        ...item.json,\n        signature: {\n          valid: false,\n          reason: 'META_APP_SECRET não configurado',\n          header: headerSignature || 'missing',\n          expected: null\n        }\n      }\n    };\n  }\n  \n  if (!rawBody) {\n    return {\n      json: {\n        ...item.json,\n        signature: {\n          valid: false,\n          reason: 'raw_body ausente',\n          header: headerSignature || 'missing',\n          expected: null\n        }\n      }\n    };\n  }\n  \n  if (!headerSignature) {\n    return {\n      json: {\n        ...item.json,\n        signature: {\n          valid: false,\n          reason: 'Header X-Hub-Signature-256 ausente',\n          header: 'missing',\n          expected: null\n        }\n      }\n    };\n  }\n  \n  // Calcular HMAC SHA256\n  const hmac = crypto.createHmac('sha256', config.app_secret);\n  hmac.update(rawBody, 'utf8');\n  const expectedSignature = 'sha256=' + hmac.digest('hex');\n  \n  // Comparação segura (timing-safe)\n  const valid = crypto.timingSafeEqual(\n    Buffer.from(headerSignature),\n    Buffer.from(expectedSignature)\n  );\n  \n  return {\n    json: {\n      ...item.json,\n      signature: {\n        valid: valid,\n        reason: valid ? 'Assinatura válida' : 'Assinatura inválida - possível tentativa de spoofing',\n        header: headerSignature,\n        expected: expectedSignature\n      }\n    }\n  };\n});"
      },
      "id": "09291872-d4b4-473c-b12d-e90f79122252",
      "name": "Validar Assinatura",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        272,
        1280
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json.signature?.valid ? 'valid' : 'invalid' }}",
        "fallbackOutput": true
      },
      "id": "f836cb87-770b-4763-ab7c-94b2b40fa473",
      "name": "Roteamento Assinatura",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        496,
        1280
      ]
    },
    {
      "parameters": {
        "functionCode": "\nreturn items.map(item => {\n  const meta = item.json.meta || {};\n  meta.http_status = 401;\n  meta.route = 'meta_signature_invalid';\n  meta.success = false;\n  meta.response = { status: 'error', reason: 'invalid_signature' };\n  item.json.meta = meta;\n  return { json: item.json };\n});\n"
      },
      "id": "83d276c2-b9b5-4457-9db7-29744ca51062",
      "name": "Assinatura Invalida",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        496,
        672
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json.event?.messages?.length ? 'message' : ($json.event?.statuses?.length ? 'status' : 'unknown') }}",
        "fallbackOutput": true
      },
      "id": "c595eeb6-e73a-4ba1-a595-d3292486aef6",
      "name": "Roteamento Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        -624,
        1504
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst results = [];\n\nfor (const item of items) {\n  const statuses = item.json.event?.statuses || [];\n  if (!statuses.length) {\n    const meta = item.json.meta || {};\n    meta.route = 'meta_status_empty';\n    meta.http_status = 200;\n    meta.success = true;\n    meta.response = { status: 'ignored' };\n    results.push({ json: { meta } });\n    continue;\n  }\n\n  for (const status of statuses) {\n    const meta = { ...(item.json.meta || {}) };\n    meta.route = 'meta_status';\n    meta.http_status = 200;\n    meta.success = status.status !== 'failed';\n    meta.response = {\n      status: status.status,\n      message_id: status.id || null,\n      conversation_id: status.conversation?.id || null,\n      timestamp: status.timestamp || null,\n    };\n    if (status.errors?.length) {\n      meta.error = status.errors[0].code || 'status_error';\n      meta.response.error = status.errors[0];\n      meta.success = false;\n    } else {\n      delete meta.error;\n    }\n\n    results.push({ json: { meta, status } });\n  }\n}\n\nreturn results;\n"
      },
      "id": "25ababc3-4532-4d9a-b53e-7fc13fd819e0",
      "name": "Processar Status",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        496,
        864
      ]
    },
    {
      "parameters": {
        "functionCode": "\nreturn items.map(item => {\n  const meta = item.json.meta || {};\n  meta.route = 'meta_unknown_event';\n  meta.http_status = 200;\n  meta.success = true;\n  meta.response = { status: 'ignored', message: 'event-type-not-handled' };\n  item.json.meta = meta;\n  return { json: item.json };\n});\n"
      },
      "id": "cb16e52f-9866-4d17-9789-50d0d90cbd43",
      "name": "Evento Desconhecido",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        496,
        480
      ]
    },
    {
      "parameters": {
        "functionCode": "const results = [];\n\nfor (const item of items) {\n  const gptPayload = item.json.gpt_response || item.json;\n  const normalized = item.json.normalized || {};\n  const config = item.json.config || {};\n  const meta = { ...(item.json.meta || normalized.meta || {}) };\n\n  const gptChoice = gptPayload.choices?.[0]?.message?.content || '';\n  const cleanedText = (gptChoice || '').trim();\n\n  const templateHint = normalized.meta?.outbound_template || gptPayload.template || null;\n  const responseType = templateHint?.name || templateHint?.id ? 'template' : 'text';\n\n  const requestBody = {\n    messaging_product: 'whatsapp',\n    to: normalized.sender || normalized.client_id || '',\n  };\n\n  if (normalized.message_id) {\n    requestBody.context = { message_id: normalized.message_id };\n  }\n\n  if (responseType === 'template') {\n    const templateName = templateHint.name || templateHint.id;\n    const templateLanguage = templateHint.language || config.template_language || 'pt_BR';\n    const templateComponents = templateHint.components || (templateHint.params\n      ? [\n          {\n            type: 'body',\n            parameters: templateHint.params.map(param => ({ type: 'text', text: param })),\n          },\n        ]\n      : undefined);\n\n    requestBody.type = 'template';\n    requestBody.template = {\n      name: templateName,\n      language: { code: templateLanguage },\n    };\n    if (templateComponents) {\n      requestBody.template.components = templateComponents;\n    }\n  } else {\n    requestBody.type = 'text';\n    requestBody.text = {\n      preview_url: false,\n      body: cleanedText || '...'\n    };\n  }\n\n  const graphVersion = config.graph_version || 'v20.0';\n  const phoneNumberId = config.phone_number_id || '';\n  const baseUrl = config.base_url || `https://graph.facebook.com/${graphVersion}`;\n\n  const outbound = {\n    type: responseType,\n    environment: config.meta_env || meta.environment || 'sandbox',\n    request: {\n      method: 'POST',\n      url: `${baseUrl}/${phoneNumberId}/messages`,\n      headers: {\n        'Content-Type': 'application/json',\n        Authorization: `Bearer ${config.access_token || ''}`,\n      },\n      body: requestBody,\n    },\n  };\n\n  meta.route = responseType === 'template' ? 'meta_prepare_template' : 'meta_prepare_text';\n  meta.response = { status: 'queued' };\n\n  results.push({ json: { outbound, meta, normalized, config } });\n}\n\nreturn results;"
      },
      "id": "b4ab1870-ee44-4754-a522-a29c89af815d",
      "name": "Preparar Resposta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        272,
        288
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst wait = (ms) => new Promise(resolve => setTimeout(resolve, ms));\nconst maxRetries = 4;\nconst transientStatuses = new Set([408, 423, 425, 429]);\n\nconst results = [];\n\nfor (const item of items) {\n  const outbound = item.json.outbound || {};\n  const request = outbound.request || {};\n  const meta = { ...(item.json.meta || {}) };\n  const normalized = item.json.normalized || {};\n\n  const authHeader = (request.headers?.Authorization || '').trim();\n  const tokenMissing = !authHeader || authHeader.toLowerCase() === 'bearer';\n\n  if (!request.url || !request.method || tokenMissing) {\n    meta.http_status = 500;\n    meta.success = false;\n    meta.response = { status: 'error', message: 'missing_meta_credentials' };\n    meta.error = 'missing_meta_credentials';\n    results.push({ json: { meta, outbound, normalized, delivery: { success: false, statusCode: 0, retries: 0, errorCategory: 'config' } } });\n    continue;\n  }\n\n  let retries = 0;\n  let success = false;\n  let statusCode = 0;\n  let body = null;\n  let errorCategory = null;\n\n  while (true) {\n    let shouldRetry = false;\n    try {\n      const response = await this.helpers.httpRequest({\n        method: request.method,\n        url: request.url,\n        headers: request.headers,\n        body: request.body,\n        json: true,\n        resolveWithFullResponse: true,\n      });\n      statusCode = response.statusCode;\n      body = response.body;\n      if (statusCode >= 500) {\n        errorCategory = 'server';\n        shouldRetry = retries < maxRetries;\n      } else if (transientStatuses.has(statusCode)) {\n        errorCategory = 'transient';\n        shouldRetry = retries < maxRetries;\n      } else if (statusCode >= 400) {\n        errorCategory = statusCode === 429 ? 'rate_limit' : 'client';\n        shouldRetry = false;\n      } else {\n        success = true;\n      }\n    } catch (error) {\n      statusCode = error.statusCode || error.response?.statusCode || 500;\n      body = error.response?.body || error.message;\n      const networkIssue = error.code === 'ETIMEDOUT' || error.code === 'ECONNRESET';\n      if (statusCode >= 500 || networkIssue || transientStatuses.has(statusCode)) {\n        errorCategory = networkIssue ? 'network' : (transientStatuses.has(statusCode) ? 'transient' : 'server');\n        shouldRetry = retries < maxRetries;\n      } else {\n        errorCategory = statusCode >= 400 ? 'client' : 'unknown';\n        shouldRetry = false;\n      }\n    }\n\n    if (success || !shouldRetry) {\n      break;\n    }\n\n    retries += 1;\n    const backoffMs = Math.min(12000, Math.pow(2, retries) * 1000 + Math.random() * 250);\n    await wait(backoffMs);\n  }\n\n  const httpStatus = success ? statusCode || 200 : statusCode || 502;\n  meta.http_status = httpStatus;\n  meta.success = success;\n  meta.route = outbound.type === 'template' ? 'meta_send_template' : 'meta_send_text';\n  meta.response = success\n    ? { status: 'sent', provider_status: statusCode, message_id: body?.messages?.[0]?.id || null }\n    : { status: 'error', provider_status: statusCode, category: errorCategory, details: body?.error || body };\n\n  if (!success) {\n    if (errorCategory === 'rate_limit' || errorCategory === 'transient') {\n      meta.error = 'meta_rate_limited';\n    } else if (errorCategory === 'network') {\n      meta.error = 'meta_network_error';\n    } else if (errorCategory === 'server') {\n      meta.error = 'meta_server_error';\n    } else {\n      meta.error = 'meta_client_error';\n    }\n  } else {\n    delete meta.error;\n  }\n\n  results.push({ json: { meta, outbound, normalized, delivery: { success, statusCode, body, retries, errorCategory } } });\n}\n\nreturn results;\n"
      },
      "id": "41644d32-fa87-4c53-ba0c-f61160c8f88d",
      "name": "Meta: Enviar Mensagem",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        496,
        288
      ]
    },
    {
      "parameters": {
        "functionCode": "\nreturn items.map(item => {\n  const meta = item.json.meta || {};\n  const startAt = meta.start_at || Date.now();\n  meta.latency_ms = Date.now() - startAt;\n  meta.provider = meta.provider || 'meta';\n  if (!meta.http_status) {\n    meta.http_status = 200;\n  }\n  if (!meta.response) {\n    meta.response = { status: meta.success === false ? 'error' : 'ok' };\n  }\n  item.json = { meta };\n  return item;\n});\n"
      },
      "id": "6727b3bf-b42a-4546-bdeb-821006be5259",
      "name": "Calcular Latencia",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        720,
        672
      ]
    },
    {
      "parameters": {
        "functionCode": "\nreturn items.map(item => {\n  const meta = item.json.meta || {};\n  const log = {\n    timestamp: new Date().toISOString(),\n    route: meta.route || 'unknown',\n    environment: meta.environment || 'sandbox',\n    provider: meta.provider || 'meta',\n    status: meta.http_status || 200,\n    success: meta.success !== false,\n    latency_ms: meta.latency_ms || 0,\n  };\n  if (meta.client_mask) {\n    log.client_mask = meta.client_mask;\n  }\n  if (meta.error) {\n    log.error = meta.error;\n  }\n  if (meta.response?.provider_status) {\n    log.provider_status = meta.response.provider_status;\n  }\n  if (meta.response?.message_id) {\n    log.message_id = meta.response.message_id;\n  }\n  console.log('[meta-metrics]', JSON.stringify(log));\n  return { json: { meta } };\n});\n"
      },
      "id": "13b34d26-f2e9-49e7-be01-3beb6a2a2083",
      "name": "Registrar Metricas",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        944,
        672
      ]
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "meta",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "746e1ff7-4115-40af-a96a-260d3a295a40",
      "name": "Meta: Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -624,
        1184
      ],
      "webhookId": "6c01cb74-bb50-4e48-8e13-aae11077cc9d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "method-check",
              "leftValue": "={{ ($json.method || $json.req?.method || 'POST').toUpperCase() }}",
              "rightValue": "GET",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        1184
      ],
      "id": "90eccfcd-d44a-4364-8042-c92f381129bd",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.challenge}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        272,
        1088
      ],
      "id": "cd37ef24-870f-4599-9d36-38ea379d428d",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "\nconst verifyToken = $input.item.json.query['hub.verify_token'];\nconst challenge = $input.item.json.query['hub.challenge'];\nconst expectedToken = $input.item.json.config?.verify_token || $env.META_VERIFY_TOKEN || '';\n\nif (verifyToken && expectedToken && verifyToken === expectedToken) {\n  return [{ json: { challenge } }];\n}\n\nthrow new Error('Token de verificação inválido');\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1088
      ],
      "id": "316cc07f-c828-4280-a072-51462c14aa9c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => ({ json: { gpt_response: item.json } }));"
      },
      "id": "9b7b4246-62dc-49c0-9c2b-6c97361e7f21",
      "name": "Empacotar Resposta GPT",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        272,
        224
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "inner",
        "options": {}
      },
      "id": "dc33960f-9d9d-43bd-9b3f-5ba986c1a3f5",
      "name": "Merge GPT + Contexto",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        432,
        224
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Meta: Webhook": {
      "main": [
        [
          {
            "node": "Carregar Config Meta",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Carregar Config Meta": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Evento Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Evento Meta": {
      "main": [
        [
          {
            "node": "Validar Assinatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Assinatura": {
      "main": [
        [
          {
            "node": "Roteamento Assinatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assinatura Invalida": {
      "main": [
        [
          {
            "node": "Calcular Latencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Status": {
      "main": [
        [
          {
            "node": "Calcular Latencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento Desconhecido": {
      "main": [
        [
          {
            "node": "Calcular Latencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Mensagem": {
      "main": [
        [
          {
            "node": "PostgreSQL: Buscar Memoria",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI: Embedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "PostgreSQL: Mensagens Recentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge GPT + Contexto",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PostgreSQL: Buscar Memoria": {
      "main": [
        [
          {
            "node": "GPT-4: Gerar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: Mensagens Recentes": {
      "main": [
        [
          {
            "node": "GPT-4: Gerar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Embedding": {
      "main": [
        [
          {
            "node": "Pinecone: Historico (HTTP)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone: Knowledge Base (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone: Historico (HTTP)": {
      "main": [
        [
          {
            "node": "GPT-4: Gerar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone: Knowledge Base (HTTP)": {
      "main": [
        [
          {
            "node": "GPT-4: Gerar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4: Gerar Resposta": {
      "main": [
        [
          {
            "node": "GPT-4: Atualizar Memoria",
            "type": "main",
            "index": 0
          },
          {
            "node": "Empacotar Resposta GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4: Atualizar Memoria": {
      "main": [
        [
          {
            "node": "PostgreSQL: Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Resposta": {
      "main": [
        [
          {
            "node": "Meta: Enviar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta: Enviar Mensagem": {
      "main": [
        [
          {
            "node": "Calcular Latencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Latencia": {
      "main": [
        [
          {
            "node": "Registrar Metricas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Metricas": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteamento Assinatura": {
      "main": [
        [
          {
            "node": "Roteamento Evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assinatura Invalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteamento Evento": {
      "main": [
        [
          {
            "node": "Normalizar Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Processar Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento Desconhecido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empacotar Resposta GPT": {
      "main": [
        [
          {
            "node": "Merge GPT + Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge GPT + Contexto": {
      "main": [
        [
          {
            "node": "Preparar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "506286ff-0b91-4bcb-b23c-f177b4b3b40d",
  "meta": {
    "instanceId": "ff86a5bee6b26a4fe33e10fc3cf5e69a885b4933737382188c57b9f1d85f558c"
  },
  "id": "7xDMU5LbMXw1hAWd",
  "tags": [
    {
      "updatedAt": "2025-10-24T00:55:41.063Z",
      "createdAt": "2025-10-24T00:55:41.063Z",
      "id": "KUYpaTuwQJfrQqsR",
      "name": "v2"
    },
    {
      "updatedAt": "2025-10-24T00:55:41.076Z",
      "createdAt": "2025-10-24T00:55:41.076Z",
      "id": "iyJ0haYlnsnzc3TO",
      "name": "memoria"
    },
    {
      "updatedAt": "2025-10-24T00:55:41.083Z",
      "createdAt": "2025-10-24T00:55:41.083Z",
      "id": "FuEyKjU8IYAtwUVr",
      "name": "gynprog"
    },
    {
      "updatedAt": "2025-11-15T18:49:06.594Z",
      "createdAt": "2025-11-15T18:49:06.594Z",
      "id": "daVF61XfymWtUU44",
      "name": "official"
    }
  ]
}
